@using MetaGraffiti.Web.Admin.Models;
@model TopoViewModel

@Html.Partial("_Nav")

<div class="row">
	<div class="col-sm-3">
		<div class="h2">Countries</div>
		<hr />

		@foreach (var country in Model.Countries)
		{
			<div class="h3">
				<a class="topo-color" href="@TopoViewModel.GetCountryUrl(country.Name)">
					@FlagHelper.GetFlagIcon(country)@country.Name
				</a>
				<div class="h5 float-right">
					<span class="badge badge-secondary">@Model.GetTrailCount(country)</span>
				</div>
			</div>

		}
		<br />
		<hr />
		<a class="btn btn-block btn-outline-secondary" href="@OrthoViewModel.GetBrowseTracksUrl()">@IconHelper.TrackIcon Import New Tracks</a>
		<a class="btn btn-block btn-outline-success" href="@TopoViewModel.GetRefreshUrl()">@IconHelper.RecycleIcon Recycle Trail Cache</a>
	</div>
	<div class="col-sm-5">
		<div class="h2">Calendar</div>
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Year</th>
					@for (var month = 1; month <= 12; month++)
					{
						<th class="text-center">@TextHelper.GetMonth(month, true)</th>
					}
				</tr>
			</thead>
			<tbody>
				@for (var year = Model.LastDate.Year; year >= Model.FirstDate.Year; year--)
				{
					<tr>
						<td class="table-secondary">
							<a class="h4" href="@TopoViewModel.GetReportUrl(year)">
								@year
							</a>
						</td>
						@for (var month = 1; month <= 12; month++)
						{
							var count = Model.GetTrailCount(year, month);
							<td class="h5 text-center p-0 m-0 @(count > 0 ? "table-success" : "")">
								@if (count > 0)
								{
									<a class="d-inline-block p-3 topo-color" href="@TopoViewModel.GetReportUrl(year, month)">@count</a>
								}
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>