@using MetaGraffiti.Web.Admin.Models;
@model TrackViewModel

<div>
	<span class="h2">
		@if (Model.IsSelected(Model.TrackSourceRoot))
		{
			<span>Tracks</span>
		}
		else
		{
			<a href="@TrackViewModel.GetTrackUrl()">Tracks</a>
		}
	</span>
	<span>
		@foreach (var year in Model.TrackSourceRoot.GetDirectories())
		{
			<span class="h3">
				\<a class="@(Model.IsSelected(year) || Model.IsAncestor(year) ? "text-success" : "")" href="@TrackViewModel.GetBrowseUrl(year.FullName)">@year.Name</a>
				@if (Model.IsSelected(year) || Model.IsAncestor(year))
				{
					var months = (Model.IsSelected(year) ? Model.SelectedDirectory.GetDirectories() : Model.SelectedDirectory.Parent.GetDirectories());
					<span class="h4">
						@foreach (var month in months)
						{
							<span>\<a class="@(Model.IsSelected(month) ? "text-success" : "")" href="@TrackViewModel.GetBrowseUrl(month.FullName)">@month.Name</a></span>
						}
					</span>
					<span>&nbsp;</span>
				}
			</span>
		}
	</span>
</div>