@using MetaGraffiti.Web.Admin.Models;
@model TrackViewModel

@Html.Partial("_Nav")

@{
	var track = Model.EditTrack.TopoTrack;
	var nearby = Model.EditTrack.NearbyPlaces;
	var contains = Model.EditTrack.ContainedPlaces;
}

<script>
	var _marker = null;
	var _bounds = null;
	var _start = @JsonHelper.GetJson(track.StartPlace);
	var _finish = @JsonHelper.GetJson(track.FinishPlace);
	var _nearby = @JsonHelper.GetJson(nearby);
	var _contains =@JsonHelper.GetJson(contains);
	var _track = @JsonHelper.GetJson(track);

	$(document).ready(function () {
		initMap();

		loadTrack();

		$(".js-show-start").hover(function () {
			if (_bounds != null) _bounds.setMap(null);
			_bounds = showBounds(_start.bounds, "#28a745");
		});

		$(".js-show-finish").hover(function () {
			if (_bounds != null) _bounds.setMap(null);
			_bounds = showBounds(_finish.bounds, "#dc3545");
		});

		$(".js-show-nearby").hover(function () {
			var index = $(this).index();
			var color = getMapColor(index);

			if (_bounds != null) _bounds.setMap(null);
			_bounds = showBounds(_nearby[index].bounds, color);
		});

		$(".js-show-contains").hover(function () {
			var index = $(this).index();
			var color = getMapColor(index);

			if (_bounds != null) _bounds.setMap(null);
			_bounds = showBounds(_contains[index].bounds, color);
		});

		$(".js-show-bounds").hover(function () {
			$(".js-show-bounds").removeClass("table-primary");
			$(this).addClass("table-primary");
		});
	});

	function loadTrack() {
		var points = _track.points;
		var last = points.length - 1;

		showTrack(points);
		markStart(points[0].lat, points[0].lng);
		markFinish(points[last].lat, points[last].lng);
	}
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-6">
				<div class="h3">
					<span class="badge badge-pill badge-secondary">
						@track.Points.Count points
					</span>
					<span class="badge badge-pill badge-success">
						@track.Stats.EstimatedKM.ToString("#,##0.0") km
					</span>
					<span class="badge badge-pill badge-info">
						@TextHelper.GetElapsedTime(track.Stats.ElapsedTime)
					</span>
				</div>
			</div>
			<div class="col-sm-6 text-right">
				<form method="post" action="@TrackViewModel.GetExtractUrl()">
					<input type="hidden" name="Source" value="@track.Source" />
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" name="Name" value="@track.Name">
							<div class="input-group-append">
								<button type="submit" class="btn btn-success">Extract</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-sm-2 h3">Start:</div>
			<div class="col-sm-8 h3">
				@if (track.StartPlace != null)
				{
					<div class="js-show-start js-show-bounds">
						<a href="@CartoViewModel.GetEditUrl(track.StartPlace.Key)">
							@track.StartPlace.Name
						</a>
					</div>
				}
			</div>
			<div class="col-sm-2 text-right">
				<a class="btn btn-sm btn-outline-primary" href="@PlaceViewModel.GetSearchUrl(track.StartPoint)"><i class="fas fa-search"></i> Lookup</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 h3">End:</div>
			<div class="col-sm-8 h3">
				@if (track.FinishPlace != null)
				{
					<div class="js-show-finish js-show-bounds">
						<a href="@CartoViewModel.GetEditUrl(track.FinishPlace.Key)">@track.FinishPlace.Name</a>
					</div>
				}
			</div>
			<div class="col-sm-2 text-right">
				<a class="btn btn-sm btn-outline-primary" href="@PlaceViewModel.GetSearchUrl(track.FinishPoint)"><i class="fas fa-search"></i> Lookup</a>
			</div>
		</div>
		<div class="row h4">
			<div class="col-sm-2">
				Nearby:
			</div>
			<div class="col-sm-8">
				@foreach (var place in Model.EditTrack.NearbyPlaces)
				{
					<div class="pb-2 js-show-nearby js-show-bounds">
						<a href="@CartoViewModel.GetEditUrl(place.Key)">@place.Name</a>
						<span class="h6">
							<span class="badge badge-pill badge-secondary">@place.Bounds.Area.ToString("0.0")</span>
						</span>
					</div>
				}
			</div>
		</div><div class="row h4">
			<div class="col-sm-2">
				Contains:
			</div>
			<div class="col-sm-8">
				@foreach (var place in Model.EditTrack.ContainedPlaces)
				{
					<div class="pb-2 js-show-contains js-show-bounds">
						<a href="@CartoViewModel.GetEditUrl(place.Key)">@place.Name</a>
						<span class="h6">
							<span class="badge badge-pill badge-secondary">@place.Bounds.Area.ToString("0.0")</span>
						</span>
					</div>
				}
			</div>
		</div>
		<hr />
		<div class="row h5">
			<div class="col-sm-2">Source:</div>
			<div class="col-sm-10">
				<a href="@OrthoViewModel.GetTracksUrl(Model.GetSourceDirectory(track.Source))">@track.Source</a>
			</div>
		</div>
		<div class="row h5">
			<div class="col-sm-2">Country:</div>
			<div class="col-sm-10">
				<a href="@TopoViewModel.GetCountryUrl(track.Trail.Country)">@track.Trail.Country.Name</a>
			</div>
		</div>
		<div class="row h5">
			<div class="col-sm-2">Timezone:</div>
			<div class="col-sm-10">
				@track.Trail.Timezone.Name
			</div>
		</div>
	</div>
</div>
