@using MetaGraffiti.Web.Admin.Models;
@model PlaceViewModel

@Html.Partial("_Nav")

@{
	var place = Model.SelectedPlace;
}

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		@if (Model.HasConfirmation)
		{
			<div class="alert alert-warning">
				<span class="h4">
					<a class="carto-color" href="@PlaceViewModel.GetUpdateUrl(place.Key)">@IconHelper.PlaceIcon @Model.SelectedPlace.Name</a> already exists!
				</span>
				<a href="@PlaceViewModel.GetUpdateUrl(place.Key)" class="btn btn-sm btn-outline-primary float-right">@IconHelper.EditIcon Edit Place</a>
			</div>
		}
		@Html.Partial("Alerts/ErrorMessages")
		<div class="clearfix"></div>
		@if (Model.SearchCriteria != null)
		{
			<div>
				<span class="h2"><a href="@PlaceViewModel.GetSearchUrl(Model.SearchCriteria.Name)">Search</a> <span class="h3">\ @Model.SearchCriteria.Name</span></span>
				<span class="float-right">

				</span>
			</div>
		}
		else
		{
			<div class="h2">Create Place</div>
		}
		<hr />
		<form method="post" action="@PlaceViewModel.GetCreateUrl()">
			@Html.Partial("_PlaceForm", Model.Edit)
			<hr />
			<div class="row">
				<div class="col">
					<button class="btn btn-primary" type="submit">@IconHelper.SaveIcon Create Place</button>
				</div>
				<div class="col text-right">
					@if (Model.SearchCriteria != null)
					{
						<a class="btn btn-outline-danger js-confirm" href="@PlaceViewModel.GetPreviewUrl(place.GoogleKey, Model.SearchCriteria.Name)">@IconHelper.UndoIcon Revert</a>
					}
				</div>
			</div>
		</form>
		@if (Model.Edit.IsPreview)
		{
			<hr />
			<div class="h4">Raw Data</div>
			<textarea rows="20" class="w-100">@place.GetRawData()</textarea>
		}
	</div>
</div>