@using MetaGraffiti.Web.Admin.Models;
@model PlaceViewModel

@Html.Partial("_Nav")

@{
	var place = Model.SelectedPlace;
	var placeForm = new CartoPlaceFormModel(place);
}

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		@if (Model.HasConfirmation)
	{
		<div class="alert alert-warning">
			<span class="h4">@Model.ConfirmMessage</span>
			<a href="@CartoViewModel.GetEditUrl(place.Key)" class="btn btn-sm btn-warning float-right">Edit Existing</a>
		</div>
}
		<div class="row">
			<div class="col-sm-10">
				<div class="h2"><a href="@PlaceViewModel.GetSearchUrl(Model.SearchCriteria.Name)">Search</a> <span class="h2">: @Model.SearchCriteria.Name</span></div>
			</div>
			<div class="col-sm-2 text-right">
				<button class="btn btn-primary" type="submit">Create</button>
			</div>
		</div>
		<form method="post" action="@PlaceViewModel.GetCreateUrl()">
			@Html.Partial("Forms/_Place", placeForm)
			<hr />
			<div class="row">
				<div class="col">
					<button class="btn btn-primary" type="submit">Create</button>
				</div>
				<div class="col text-right">
					<a class="btn btn-outline-danger js-confirm" href="@PlaceViewModel.GetPreviewUrl(place.GoogleKey, Model.SearchCriteria.Name)">Revert</a>
				</div>
			</div>
		</form>
		<hr />
		<textarea rows="10" class="w-100">@place.GetRawData()</textarea>
	</div>
</div>