@using MetaGraffiti.Web.Admin.Models;
@model PlaceViewModel

@Html.Partial("_Nav")

<div class="row">
	<div class="col-md-2">
		<h2>By Country</h2>
		@foreach (var country in Model.Countries)
		{
			<div class="h3">
				<a href="@PlaceViewModel.GetReportUrl(country.ISO2)">@country.Name</a>
			</div>
		}
	</div>
	<div class="col-md-2">
		<h2>By Year</h2>
		@foreach (var year in Model.Years.OrderByDescending(x => x))
		{
			<div class="h3">
				<a href="@PlaceViewModel.GetReportUrl(year)">@year</a>
			</div>
		}
	</div>
	<div class="col-md-2">
		<h2>Google</h2>
		@Html.Partial("Widgets/GooglePlaces")
		<hr />
		<h2>Search</h2>
		@Html.Partial("Widgets/SearchPlaces")
	</div>
</div>