@using MetaGraffiti.Web.Admin.Models;
@model TrailViewModel

@Html.Partial("_Nav")

<script>

</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<h2>@Model.Country.Name @(Model.Region == null ? "" : @" \ " + Model.Region.RegionName) Trails</h2>
		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th>#</th>
					<th>Region</th>
					<th>Places</th>
					<th>Trail</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				@{
					var index = 0;
					foreach (var trail in Model.Trails)
					{
						<tr>
							<td>@(index + 1)</td>
							<td>@(trail.Region?.RegionName ?? "")</td>
							<td>
								@foreach (var place in trail.ViaPlaces)
								{
									<div><a href="@CartoViewModel.GetEditUrl(place.Key)">@place.Name</a></div>
								}
							</td>
							<td>
								<div class="h4"><a href="@TrailViewModel.GetDisplayUrl(trail.ID)">@trail.Name</a></div>
								<div class="small">@trail.Description</div>
							</td>
							<td>@trail.LocalDate.ToString("yyyy-MM-dd")</td>
						</tr>
						index++;
					}
				}
			</tbody>
		</table>
	</div>
</div>