@using MetaGraffiti.Web.Admin.Models;
@model TrailViewModel

@Html.Partial("_Nav")

<script src="https://maps.googleapis.com/maps/api/js?key=@(AutoConfig.GoogleMapsApiKey)"></script>
<script src="~/Scripts/_graffiti/googleMaps.js"></script>
<script>

</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<h2>@Model.Country.Name Trails</h2>
		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th>#</th>
					<th>Location</th>
					<th>Date</th>
					<th>Trail</th>
				</tr>
			</thead>
			<tbody>
				@{
					var index = 0;
					foreach (var trail in Model.Trails)
					{
						<tr>
							<td>@(index + 1)</td>
							<td>@trail.Country.Name</td>
							<td>@trail.LocalDate.ToString("yyyy-MM-dd")</td>
							<td>
								<a href="@TrailViewModel.GetDisplayUrl(trail.ID)">@trail.Name</a>
								<div class="small">@trail.Description</div>
							</td>
						</tr>
						index++;
					}
				}
			</tbody>
		</table>
	</div>
</div>