@using MetaGraffiti.Web.Admin.Models;
@model TrailViewModel

@Html.Partial("_Nav")

<div class="row">
	<div class="col-sm-6">
		<h2>Calendar</h2>
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Year</th>
					@for (var month = 1; month <= 12; month++)
					{
						<th class="text-center">@Model.GetMonth(month, true)</th>
					}
				</tr>
			</thead>
			<tbody>
				@for (var year = Model.LastDate.Year; year >= Model.FirstDate.Year; year--)
				{
					<tr>
						<td class="table-secondary">
							<a class="h4" href="@TrailViewModel.GetReportUrl(year)">
								@year
							</a>
						</td>
						@for (var month = 1; month <= 12; month++)
						{
							var count = Model.GetCount(year, month);
							<td class="text-center @(count > 0 ? "table-info" : "")">
								@if (count > 0)
								{
									<a class="h5" href="@TrailViewModel.GetReportUrl(year, month)">@count</a>
								}
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		<h2>Countries</h2>
		@foreach (var country in Model.Countries)
		{
			<div class="h3">
				<a href="@TrailViewModel.GetCountryUrl(country.Name)">@country.Name</a>
			</div>
		}
	</div>
</div>