@using MetaGraffiti.Web.Admin.Models;
@model TrailViewModel

@Html.Partial("_Nav")





<div class="row">
	<div class="col-sm-6">
		@if (Model.HasError)
		{
		<div class="alert alert-warning">
			<div class="h2">@IconHelper.ErrorMessageIcon There are <a class="text-danger" href="#">@Model.ErrorMessages.First() existing tracks</a> being edited.</div>
			<hr />
			<div class="h5">Would you like to discard the existing tracks or combine them with the current set?</div>
			<br />
			<div>
				<a class="btn btn-danger" href="#">@IconHelper.RemoveIcon Discard Existing</a>
				&nbsp;
				<a class="btn btn-warning" href="#">@IconHelper.AddIcon Combine Current</a>
			</div>

		</div>
		}
	</div>
</div>