@using MetaGraffiti.Web.Admin.Models;
@model TrailViewModel

@Html.Partial("_Nav")

<div>
	<h2>Report</h2>
	<table class="table table-striped">
		<thead class="table-dark">
			<tr>
				<th>Location</th>
				<th>Date</th>
				<th>Name</th>
				<th>Description</th>
				<th>Distance</th>
				<th>Time</th>
				<th>Tracks</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var trail in Model.Trails)
			{
				<tr>
					<td>@trail.Country.Name</td>
					<td>@trail.LocalDate.ToString("yyyy-MM-dd")</td>
					<td>
						<a href="@TrailViewModel.GetDisplayUrl(trail.ID)">@trail.Name</a>
					</td>
					<td>@trail.Description</td>
					<td></td>
					<td></td>
					<td>@trail.Tracks.Count</td>
					<td>@trail.Tracks.SelectMany(x => x.Points).Count()</td>
				</tr>
			}
		</tbody>
	</table>
</div>