@using MetaGraffiti.Web.Admin.Models;
@model TrailViewModel

@Html.Partial("_Nav")

@{
	var trail = Model.Trail;
	var edit = Model.Edit;
}

<script>
	$(document).ready(function () {
		initDirty();
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		@if (Model.HasConfirmation)
		{
			<div class="alert alert-success">@IconHelper.ConfirmationMessageIcon @Model.ConfirmMessage</div>
		}
		@if (Model.HasError)
		{
			<div class="alert alert-danger">
				@foreach (var error in Model.ErrorMessages)
				{
					<div>@IconHelper.ErrorMessageIcon @error</div>
				}
			</div>
		}
		<form method="post">
			<div class="form-group">
				<div>
					<label class="font-weight-bold" for="Name"><i class="far fa-file-alt"></i> Trail Name</label>
					<div class="h5 float-right">@Html.Partial("Widgets/TopoStatsPills", new TopoStatsPillsModel(trail.Stats, true))</div>
				</div>
				<input type="text" class="form-control form-control-lg" name="Name" value="@edit.Name" />
			</div>
			<div class="form-group">
				<label for="Description"><i class="fas fa-quote-left"></i> Description</label>
				<textarea class="form-control" rows="5" name="Description">@edit.Description</textarea>
			</div>
			<div class="row form-group">
				<div class="col-sm-8">
					<label for="Country"><i class="fas fa-flag"></i> Country \ Region</label>
					<div class="input-group">
						<input type="text" class="form-control @(TopoTrailFormModel.IsCountryValid(edit.Country) ? "" : "is-invalid")" name="Country" id="CountryField" value="@edit.Country" />
						<input type="text" class="form-control @(TopoTrailFormModel.IsRegionValid(edit.Country, edit.Region) ? "" : "is-invalid")" name="Region" id="RegionField" placeholder="Region" value="@edit.Region" />

					</div>
				</div>
				<div class="col-sm-4">
					<label for="Location"><i class="fas fa-map-marker"></i> Location</label>
					<div class="input-group">
						<input type="text" class="form-control" name="Location" id="LocationField" value="@edit.Location" />
						<div class="input-group-append">
							<a href="#" class="btn btn-outline-secondary"><i class="fas fa-magnet"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-8">
					<label for="UrlLink"><i class="fas fa-link"></i> Link \ Text</label>
					<div class="input-group">
						<input type="text" class="form-control" name="UrlLink" placeholder="https://" value="@edit.UrlLink" disabled />
						<input type="text" class="form-control" name="UrlText" placeholder="Link Text" value="@edit.UrlText" disabled />
					</div>
				</div>
				<div class="col-sm-4">
					<label for="Timezone"><i class="fas fa-clock"></i> Timezone</label>
					<div class="input-group">
						<input type="text" class="form-control @(TopoTrailFormModel.IsTimezoneValid(edit.Timezone) ? "" : "is-invalid")" name="Timezone" id="TimezoneField" value="@edit.Timezone" />
						<div class="input-group-append">
							<a href="#" class="btn btn-outline-secondary"><i class="fas fa-magnet"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Keywords"><i class="fas fa-tags"></i> Keywords</label>
				<input type="text" class="form-control" name="Keywords" value="@edit.Keywords" />
			</div>
			<div class="row">
				<div class="col-sm-8">
					<input type="hidden" name="Key" value="@edit.Key" />
					<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Update Trail</button>
					<a class="btn btn-outline-success js-confirm-dirty" href="@TrailViewModel.GetModifyUrl(trail)"><i class="fas fa-pencil-alt"></i> Edit Tracks</a>
				</div>
				<div class="col-sm-4 text-right">
					<a class="btn btn-outline-secondary js-confirm-dirty" href="@TrailViewModel.GetTrailUrl(trail)"><i class="fas fa-ban"></i> Cancel</a>
					<a class="btn btn-outline-warning js-confirm" href="@TrailViewModel.GetUpdateUrl(trail)"><i class="fas fa-undo"></i> Revert</a>
				</div>
			</div>
		</form>
		<br />
		<br />
		@Html.Partial("_Tracks")
	</div>
</div>
<br />