@using MetaGraffiti.Web.Admin.Models;
@model TrailViewModel

@Html.Partial("_Nav")

@{
	var trail = Model.Trail;
}

<script>
	$(document).ready(function () {
		initDirty();
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		@Html.Partial("Alerts/SuccessConfirm")
		@Html.Partial("Alerts/ErrorMessages")
		<div>
			<span class="h3">
				@IconHelper.TrailIcon Edit
			</span>
			<div class="h5 float-right">@Html.Partial("Widgets/TopoStatsPills", new TopoStatsPillsModel(Model.Tracks, true))</div>
		</div>
		<hr />

		<form method="post">
			@Html.Partial("_TrailForm", Model.Edit)
			<div class="row">
				<div class="col-sm-8">
					<input type="hidden" name="Key" value="@trail.Key" />
					<button type="submit" class="btn btn-success">@IconHelper.SaveIcon Update Trail</button>
					<a class="btn btn-outline-primary js-confirm-dirty" href="@TrailViewModel.GetModifyUrl(trail)">@IconHelper.ExtractIcon Modify Tracks</a>
				</div>
				<div class="col-sm-4 text-right">
					<a class="btn btn-outline-secondary js-confirm-dirty" href="@TrailViewModel.GetTrailUrl(trail)">@IconHelper.CancelIcon Cancel</a>
					<a class="btn btn-outline-warning js-confirm" href="@TrailViewModel.GetUpdateUrl(trail)">@IconHelper.UndoIcon Revert</a>
				</div>
			</div>
		</form>
		<br />
		<br />
		@Html.Partial("_TrackGrid")
	</div>
</div>
<br />