@using MetaGraffiti.Web.Admin.Models;
@model TopoStatsPillsModel

<span class="@(Model.AlignJustify ? "d-flex justify-content-between" : "")">
	<span class="badge badge-pill badge-dark">
		@Model.Stats.PointCount pts
	</span>
	@if (Model.ShowDetails)
	{

		<span class="badge badge-pill badge-secondary">
			@Model.Stats.SecondsBetweenPoints.ToString("0") sec
		</span>
	}
	<span class="badge badge-pill badge-primary">
		@Model.Stats.EstimatedKM.ToString("#,##0.0") km
	</span>
	@if (Model.ShowDetails)
	{
		<span class="badge badge-pill badge-success">
			@Model.Stats.EstimatedMetersAscent.ToString("#,##0") m
		</span>
		<span class="badge badge-pill badge-danger">
			@Model.Stats.EstimatedMetersDescent.ToString("#,##0") m
		</span>
	}
	<span class="badge badge-pill badge-info">
		@TextHelper.GetElapsedTime(Model.Stats.ElapsedTime)
	</span>
	@if (Model.ShowDetails)
	{
		<span class="badge badge-pill badge-warning">
			@TextHelper.GetTotalDays(Model.Stats.DayCount)
		</span>
	}
</span>