@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<script>
	var _places = @JsonHelper.GetJson(Model.Places);

	$(document).ready(function () {
		initMap();

		initCartoPlaces(_places, '@PlaceViewModel.GetDisplayUrl("{key}")');

		drawCartoPlaces();
		fitCartoPlaces();

		initActionRows(actionCartoPlaceBounceMarkerAndDrawBounds, actionCartoPlaceToFitBounds);

		$(".js-reset-view").click(function () {
			fitCartoPlaces();
			drawCartoPlaceBounds(-1);
			bounceCartoPlaceMarker(-1);
		});
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div>
			<span class="h2">
				@Model.SelectedCountry.Name
			</span>
			<div class="float-right">
				<a class="btn btn-outline-secondary" href="@OrthoViewModel.GetPlacesUrl(Model.SelectedCountry.Name)">@IconHelper.PlaceIcon Import New Places</a>
				<a class="btn btn-outline-primary" href="@CartoViewModel.GetReportUrl(Model.SelectedCountry)">@IconHelper.ReportIcon</a>
				<a class="btn btn-outline-primary" href="@CartoViewModel.GetPlacesUrl(Model.SelectedCountry)">@IconHelper.MapIcon</a>
				<div class="btn-group">
					<a class="btn btn-outline-info" href="@GeoViewModel.GetCountryUrl(Model.SelectedCountry)">@IconHelper.GeoIcon</a>
					<a class="btn btn-outline-success" href="@TopoViewModel.GetCountryUrl(Model.SelectedCountry.ISO2)">@IconHelper.TopoIcon</a>
					@Html.Partial("Buttons/ResetView")
				</div>
			</div>
		</div>
		<br />
		<table class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">#</th>
					<th>Type</th>
					<th class="w-50">Name</th>
					<th>Location</th>
					<th>Region</th>
				</tr>
			</thead>
			<tbody>
				@{
					var count = 0;
					foreach (var place in Model.Places)
					{
						<tr class="js-mappable-row">
							<td class="text-center h5">@(++count)</td>
							<td class="text-nowrap">@SvgHelper.GetPlaceTypeIcon(place.PlaceType) @place.PlaceType</td>
							<td class="font-weight-bold"><a href="@PlaceViewModel.GetDisplayUrl(place.Key)">@IconHelper.PlaceIcon @place.Name</a></td>
							<td>
								@{
									var locality = Model.FindLocalityPlace(place);
									if (locality == null)
									{
										<span>@place.Locality</span>
									}
									else if (locality.Name == place.Name)
									{
										<span></span>
									}
									else if (locality.Key == place.Key)
									{
										<span class="font-italic">@place.Locality</span>
									}
									else
									{
										<a href="@PlaceViewModel.GetDisplayUrl(locality.Key)">@place.Locality</a>
									}
								}
							</td>
							<td>
								@(place.Region == null ? "" : place.Region.RegionName)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>