@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<script>
	var _places = @JsonHelper.GetJson(Model.Places);
	var _bounds = null;
	var _all = null;

	$(document).ready(function () {
		initMap();

		_all = new google.maps.LatLngBounds();
		for (i = 0; i < _places.length; i++) {
			var place = _places[i];
			place.marker = markPlace(place, '@CartoViewModel.GetEditUrl("{key}")');

			var color = getMapColor(i);
			$("table > tbody > tr").eq(i).children().eq(0).css('background-color', color);

			var center = new google.maps.LatLng(place.center.lat, place.center.lng);
			_all.extend(center);
		}

		if (_places.length > 0) fitBounds(_all);
		
		$(".js-mappable-row").hover(function () {
			if (_bounds) _bounds.setMap(null);

			var index = $(this).index();
			var place = _places[index];
			var color = getMapColor(index);

			_bounds = drawBounds(place.bounds, color);

			for (i = 0; i < _places.length; i++) {
				if (i == index) {
					_places[i].marker.setAnimation(google.maps.Animation.BOUNCE);
				} else {
					_places[i].marker.setAnimation(null);
				}
			}
		});

		$(".js-mappable-row").click(function () {
			var index = $(this).index();
			var place = _places[index];

			place.marker.setAnimation(null);

			fitBounds(place.bounds);
		});

		$(".js-reset-view").click(function (e) {
			e.preventDefault();

			fitBounds(_all);

			if (_bounds) _bounds.setMap(null);
			for (i = 0; i < _places.length; i++) {
				_places[i].marker.setAnimation(null);
			}
		});
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div>
			<span class="h2">
				@Model.SelectedCountry.Name
			</span>
			<div class="float-right">
				<a class="btn btn-secondary" href="@OrthoViewModel.GetPlacesUrl(Model.SelectedCountry.Name)">@IconHelper.AddIcon Add</a>
				<div class="btn-group">
					<a class="btn btn-outline-info" href="@GeoViewModel.GetCountryUrl(Model.SelectedCountry)"><i class="fas fa-globe"></i></a>
					<a class="btn btn-outline-success" href="@TopoViewModel.GetCountryUrl(Model.SelectedCountry.ISO2)"><i class="fas fa-code-branch"></i></a>
					@Html.Partial("Buttons/ResetView")
				</div>

			</div>
		</div>
		<br />
		<table class="table table-sm table-striped table-hover">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">#</th>
					<th>Type</th>
					<th>Name</th>
					<th>Locality</th>
					<th>Region</th>
				</tr>
			</thead>
			<tbody>
				@{
					var count = 0;
					foreach (var p in Model.Places)
					{
						<tr class="js-mappable-row">
							<td class="text-center">@(++count)</td>
							<td>@p.PlaceType</td>
							<td class="font-weight-bold"><a href="@CartoViewModel.GetEditUrl(p.Key)">@p.Name</a></td>
							<td>
								@{
									var locality = Model.FindLocalityPlace(p);
									if (locality == null)
									{
										<span>@p.Locality</span>
									}
									else if (locality.Name == p.Name)
									{
										<span></span>
									}
									else if (locality.Key == p.Key)
									{
										<span class="font-italic">@p.Locality</span>
									}
									else
									{
										<a href="@CartoViewModel.GetEditUrl(locality.Key)">@p.Locality</a>
									}
								}
							</td>
							<td>@(p.Region == null ? "" : p.Region.RegionName)</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>