@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<div class="row">
	<div class="col-sm-2">
		<div class="h1"><a href="@CartoViewModel.GetPlacesUrl()">Global Map</a></div>
		<hr />
		<div class="h1"><a href="@CartoViewModel.GetReportUrl()">Full Report</a></div>
		<hr />
		<br />
		<h2>Google</h2>
		@Html.Partial("Widgets/GooglePlaces")
		<hr />
		<br />
		<h2>Search</h2>
		@Html.Partial("Widgets/SearchPlaces")
		<hr />
		<br />
		@if (Model.HasChanges)
		{
			<div class="alert alert-info font-weight-bold">
				There are unsaved changes!
			</div>
		}
		else if (Model.LastSaved.HasValue)
		{
			<div class="alert alert-success">
				Saved at @Model.LastSaved.ToString()
			</div>
		}
		<div class="btn-group d-flex w-100">
			<a class="btn w-100 btn-outline-info" href="@CartoViewModel.GetPersistUrl()">@IconHelper.SaveIcon Persist Changes</a>
			<a class="btn w-100 btn-outline-secondary" href="@CartoViewModel.GetReloadUrl()">@IconHelper.RecycleIcon Reload Data</a>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="h3">Country Display</div>
		@foreach (var country in Model.Countries)
		{
			<div class="h4">
				<a href="@CartoViewModel.GetCountryUrl(country)">@country.Name</a>
			</div>
		}
	</div>
	<div class="col-sm-2">
		<div class="h3">Type Report</div>
		@foreach (var placeType in Model.PlaceTypes)
		{
			<div class="h4">
				<a href="@CartoViewModel.GetReportUrl(placeType)">@SvgHelper.GetIcon("places/" + placeType) @placeType</a>
			</div>
		}
	</div>
	<div class="col-sm-1">
		<div class="h5">Import From</div>
		@foreach (var country in Model.SourceCountries)
		{
			<div class="h6">
				<a href="@PlaceViewModel.GetReportUrl(country.ISO2)">@country.Name</a>
			</div>
		}
	</div>
	<div class="col-sm-1">
		<div class="h5">Year</div>
		@foreach (var year in Model.SourceYears.OrderByDescending(x => x))
		{
			<div class="h6">
				<a href="@PlaceViewModel.GetReportUrl(year)">@year</a>
			</div>
		}
	</div>
</div>