@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<div class="row">
	<div class="col-sm-2">
		<div class="h2"><a href="@CartoViewModel.GetPlacesUrl()">Global Map</a></div>
		<hr />
		<div class="h2"><a href="@CartoViewModel.GetReportUrl()">Report All</a></div>
		<br />
		<hr />
		<div class="h2">Search Places</div>
		@Html.Partial("Widgets/SearchPlaces")
		<br />
		<hr />
		@if (Model.HasChanges)
		{
			<div class="alert alert-warning h6">
				@IconHelper.ErrorMessageIcon There are unsaved changes!
			</div>
		}
		else if (Model.LastSaved.HasValue)
		{
			<div class="alert alert-success">
				@IconHelper.ConfirmationMessageIcon Saved at @Model.LastSaved.ToString()
			</div>
		}
		<div>
			<a class="btn btn-block btn-outline-primary" href="@CartoViewModel.GetPersistUrl()">@IconHelper.SaveIcon Persist Place Changes</a>
			<a class="btn btn-block btn-outline-secondary js-confirm" href="@CartoViewModel.GetReloadUrl()">@IconHelper.RecycleIcon Recycle Place Cache</a>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="h3">Country Map</div>
		@foreach (var country in Model.Countries)
		{
			<div class="h4">
				<a href="@CartoViewModel.GetCountryUrl(country)">@country.Name</a>
			</div>
		}
	</div>
	<div class="col-sm-2">
		<div class="h3">Type Report</div>
		@foreach (var placeType in Model.PlaceTypes)
		{
			<div class="h4">
				<a href="@CartoViewModel.GetReportUrl(placeType)">@SvgHelper.GetIcon("places/" + placeType) @placeType</a>
			</div>
		}
	</div>
	<div class="col-sm-2">
		<div class="h2">Google Create</div>
		@Html.Partial("Widgets/GooglePlaces")
		<br />
		<hr />
		<div class="h2">Manual Create</div>
		<form method="get" action="@PlaceViewModel.GetSearchUrl()">
			<div class="input-group">
				<input class="form-control" name="name" placeholder="Name" />
				<div class="input-group-append">
					<button type="submit" class="btn btn-primary">@IconHelper.SearchIcon</button>
				</div>
			</div>
		</form>
		<br />
		<hr />
	</div>
	<div class="col-sm-1">
		<div class="h5">Import From</div>
		@foreach (var country in Model.SourceCountries)
		{
			<div class="h6">
				<a href="@OrthoViewModel.GetPlacesUrl(country.Name)">@country.Name</a>
			</div>
		}
	</div>
	<div class="col-sm-1">
		<div class="h5">Year</div>
		@foreach (var year in Model.SourceYears.OrderByDescending(x => x))
		{
			<div class="h6">
				<a href="@OrthoViewModel.GetPlacesUrl(year)">@year</a>
			</div>
		}
	</div>
</div>