@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<div class="row">
	<div class="col-sm-2">
		<div class="h3">By Country</div>
		@foreach (var country in Model.Countries)
		{
			<div class="h4">
				<a href="@CartoViewModel.GetCountryUrl(country)">@country.Name</a>
			</div>
		}
	</div>
	<div class="col-sm-2">
		<div class="h3">By Type</div>
		@foreach (var placeType in Model.PlaceTypes)
		{
			<div class="h4">
				<a href="@CartoViewModel.GetReportUrl(placeType)">@placeType</a>
			</div>
		}
	</div>
	<div class="col-sm-2">
		@if (Model.HasChanges)
		{
			<div class="alert alert-danger font-weight-bold">
				There are unsaved changes!
			</div>
		}
		else if (Model.LastSaved.HasValue)
		{
			<div class="alert alert-success">
				Saved at @Model.LastSaved.ToString()
			</div>
		}
		<div class="btn-group">
			<a class="btn btn-success js-confirm" href="@CartoViewModel.GetPersistUrl()">Persist Places</a>
			<a class="btn btn-secondary" href="@CartoViewModel.GetReloadUrl()">Reload Data</a>
		</div>
		<br />
		<br />
		<div class="h2"><a href="@CartoViewModel.GetPlacesUrl()">Map All</a></div>
		<div class="h2"><a href="@CartoViewModel.GetReportUrl()">Report</a></div>
		<br />
		<div class="h3">Places</div>
		<div class="h4"><a href="@PlaceViewModel.GetReportUrl()">Import...</a></div>
		<div class="h4"><a href="@PlaceViewModel.GetSearchUrl()">Create...</a></div>
	</div>
</div>