@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<script>
	var _places = @JsonHelper.GetJson(Model.Places);
	var _bounds = null;
	var _all = null;

	$(document).ready(function () {
		initMap();

		initCartoPlaces(_places, '@PlaceViewModel.GetDisplayUrl("{key}")');

		drawCartoPlaces(1, false); //drawCartoPlaces(2, true);
		showWorld();

		initActionRows(actionCartoPlaceBounceMarkerAndDrawBounds, actionCartoPlaceToFitBounds);

		$(".js-reset-view").click(function () {
			showWorld();
			drawCartoPlaceBounds(-1);
			bounceCartoPlaceMarker(-1);
		});

		$("input").click(function () {
			$("form").submit();
		});
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div>
			<span class="h2">Places Map</span>
			<div class="float-right">
				<a class="btn btn-primary" href="@CartoViewModel.GetReportUrl(Model.ReportFilters)">@IconHelper.ReportIcon Report Mode</a>
				<a class="btn btn-outline-warning" href="@CartoViewModel.GetPlacesUrl()">@IconHelper.CancelIcon Reset Filters</a>
				@Html.Partial("Buttons/ResetView")
			</div>
		</div>
		<div class="clearfix"></div>
		@Html.Partial("_Filters")
		<br />
		<table class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">#</th>
					<th>Type</th>
					<th>Name</th>
					<th>Locality</th>
					<th>Region</th>
					<th>Country</th>
				</tr>
			</thead>
			<tbody>
				@{
				var count = 0;
				foreach (var p in Model.Places)
				{
					<tr class="js-mappable-row">
						<td class="text-center h5">@(++count)</td>
						<td class="text-nowrap">@SvgHelper.GetPlaceTypeIcon(p.PlaceType) @p.PlaceType</td>
						<td>
							<a class="font-weight-bold" href="@PlaceViewModel.GetDisplayUrl(p.Key)">@IconHelper.PlaceIcon @p.Name</a>
							<span class="font-italic">@p.DisplayAs</span>
						</td>
						<td>@p.Locality</td>
						<td>@(p.Region?.RegionName ?? "")</td>
						<td>@p.Country.Name</td>
					</tr>
			}
				}
			</tbody>
		</table>
	</div>
</div>