@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<script>
	var _places = @JsonHelper.GetJson(Model.Places);
	var _bounds = null;

	$(document).ready(function () {
		initMap();

		for (i = 0; i < _places.length; i++) {
			var place = _places[i];
			place.marker = markPlace(place, '@CartoViewModel.GetEditUrl("{key}")');

			var color = getMapColor(i);
			$("table > tbody > tr").eq(i).children().eq(0).css('background-color', color);
		}

		showWorld();

		$(".js-mappable-row").hover(function () {
			if (_bounds) _bounds.setMap(null);

			var index = $(this).index();
			var place = _places[index];
			var color = getMapColor(index);

			_bounds = drawBounds(place.bounds, color);

			for (i = 0; i < _places.length; i++) {
				if (i == index) {
					_places[i].marker.setAnimation(google.maps.Animation.BOUNCE);
				} else {
					_places[i].marker.setAnimation(null);
				}
			}
		});

		$(".js-mappable-row").click(function () {
			var index = $(this).index();
			var place = _places[index];

			place.marker.setAnimation(null);

			fitBounds(place.bounds);
		});

		$(".js-reset-view").click(function (e) {
			showWorld();
		});
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-8">
				<div class="h2">All Places</div>
			</div>
			<div class="col-sm-4 text-right">
				@Html.Partial("Buttons/ResetView")
			</div>
		</div>

		<table class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">#</th>
					<th>Name</th>
					<th>Type</th>
					<th>Locality</th>
					<th>Region</th>
					<th>Country</th>
				</tr>
			</thead>
			<tbody>
				@{
				var count = 0;
				foreach (var p in Model.Places)
				{
					<tr class="js-mappable-row">
						<td class="text-center">@(++count)</td>
						<td>
							<a class="font-weight-bold" href="@CartoViewModel.GetEditUrl(p.Key)">@p.Name</a>
							<span class="font-italic">@p.DisplayAs</span>
						</td>
						<td>@p.PlaceType</td>
						<td>@p.Locality</td>
						<td>@(p.Region?.RegionName ?? "")</td>
						<td>@p.Country.ISO2</td>
					</tr>
			}
				}
			</tbody>
		</table>
	</div>
</div>