@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

@{
	var place = new CartoPlaceFormModel(Model.Place);
}

<script src="https://maps.googleapis.com/maps/api/js?key=@(AutoConfig.GoogleMapsApiKey)"></script>
<script src="~/Scripts/_graffiti/googleMaps.js"></script>


<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		@if (Model.HasConfirmation)
		{
			<div class="alert alert-success">
				@Model.ConfirmMessage
			</div>
		}
		<div class="h2">Editing: <span class="h3">@Model.Place.Name</span></div>
		<hr />
		<form method="post" action="@CartoViewModel.GetSaveUrl()">
			@Html.Partial("Forms/_Place", place)
			<hr />
			<div class="row">
				<div class="col">
					<input type="hidden" name="id" value="@Model.Place.Key" />
					<button class="btn btn-success" type="submit">Update</button>
				</div>
				<div class="col text-right">
					<a class="btn btn-outline-warning js-confirm" href="@CartoViewModel.GetEditUrl(Model.Place.Key)">Reset</a>
					<a class="btn btn-outline-danger js-confirm" href="@CartoViewModel.GetDeleteUrl(Model.Place.Key)">Delete</a>
				</div>
			</div>
		</form>
	</div>
</div>