@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<script>
	var _filtered = @Model.IsFiltered.ToString().ToLowerInvariant();
	var _typeFiltered = @((!String.IsNullOrEmpty(Model.ReportFilters.PlaceType)).ToString().ToLowerInvariant());
	var _places = @JsonHelper.GetJson(Model.ReportPlaces);
	var _bounds = null;
	var _all = null;

	$(document).ready(function () {
		initMap();

		initCartoPlaces(_places, '@PlaceViewModel.GetDisplayUrl("{key}")');

		if (_typeFiltered || !_filtered)
			drawCartoPlaces(1, false);
		else
			drawCartoPlaces(2, true);

		if (_filtered)
			fitCartoPlaces();
		else
			showWorld();

		initActionRows(actionCartoPlaceBounceMarkerAndDrawBounds, actionCartoPlaceToFitBounds);

		$(".js-reset-view").click(function () {
			if (_filtered)
				fitCartoPlaces();
			else
				showWorld();
			drawCartoPlaceBounds(-1);
			bounceCartoPlaceMarker(-1);
		});
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<form>
			<div>
				<span class="h2">
					Places Map
				</span>
				<div class="float-right">
					<div class="form-row">
						<div class="col-auto">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">Name:</div>
								</div>
								<input class="form-control" name="Name" value="@Model.ReportFilters.Name" />
								<div class="input-group-append">
									<button type="submit" class="btn btn-primary">@IconHelper.FilterIcon</button>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<a class="btn btn-outline-primary" href="@CartoViewModel.GetReportUrl(Model.ReportFilters)">@IconHelper.ReportIcon Report Mode</a>
							<a class="btn btn-outline-warning" href="@CartoViewModel.GetPlacesUrl()">@IconHelper.CancelIcon Reset Filters</a>
							@Html.Partial("Buttons/ResetView")
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			@Html.Partial("_Filters")
		</form>
		<br />
		<table class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">#</th>
					<th>Type</th>
					<th>Name</th>
					<th>Locality</th>
					<th>Region</th>
					<th>Country</th>
				</tr>
			</thead>
			<tbody>
				@{
					var count = 0;
					foreach (var p in Model.ReportPlaces)
					{
						<tr class="js-mappable-row">
							<td class="text-center h5">@(++count)</td>
							<td class="text-nowrap">@SvgHelper.GetPlaceTypeIcon(p.PlaceType) @p.PlaceType</td>
							<td>
								<a class="font-weight-bold" href="@PlaceViewModel.GetDisplayUrl(p.Key)">@IconHelper.PlaceIcon @p.Name</a>
								<span class="font-italic">@p.DisplayAs</span>
							</td>
							<td>@p.Locality</td>
							<td>@(p.Region?.RegionName ?? "")</td>
							<td><a href="@CartoViewModel.GetCountryUrl(p.Country)">@FlagHelper.GetFlagIcon(p.Country)@p.Country.ISO2</a></td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>