@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

@{
	var place = Model.SelectedPlace;
	var placeForm = new CartoPlaceFormModel(place);
}

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		@if (Model.HasConfirmation)
		{
			<div class="alert alert-success">
				@Model.ConfirmMessage
			</div>
		}
		<form method="post" action="@CartoViewModel.GetSaveUrl()">
			<input type="hidden" name="id" value="@place.Key" />
			<div class="row">
				<div class="col-sm-10">
					<div class="h2"><a href="@CartoViewModel.GetCountryUrl(place.Country)">@place.Country.Name</a> <span class="h3">\ @(place.Name)</span></div>
				</div>
				<div class="col-sm-2 text-right">
					<button class="btn btn-success" type="submit">Update</button>
				</div>
			</div>
			<hr />
			@Html.Partial("Forms/_Place", placeForm)
			<hr />
			<div class="row">
				<div class="col">
					<button class="btn btn-success" type="submit">Update</button>
				</div>
				<div class="col text-right">
					<a class="btn btn-outline-warning js-confirm" href="@CartoViewModel.GetEditUrl(place.Key)">Revert</a>
					<a class="btn btn-outline-danger js-confirm" href="@CartoViewModel.GetDeleteUrl(place.Key)">Delete</a>
				</div>
			</div>
			<hr />
			@if (Model.HasChanges)
			{
				<div class="alert alert-info font-weight-bold">
					<span class="h4">There are unsaved changes!</span> <a class="float-right btn btn-sm btn-info" href="@CartoViewModel.GetPersistUrl()">Persist Places</a>
				</div>
			}
		</form>
	</div>
</div>