@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<script>
	var _places = @JsonHelper.GetJson(Model.Places);
	var _bounds = null;
	var _all = null;

	$(document).ready(function () {
		initMap();

		initCartoPlaces(_places, '@CartoViewModel.GetEditUrl("{key}")');

		drawCartoPlaces(1);
		showWorld();

		initActionRows(actionCartoPlaceBounceMarkerAndDrawBounds, actionCartoPlaceToFitBounds);

		$(".js-reset-view").click(function () {
			showWorld();
			drawCartoPlaceBounds(-1);
			bounceCartoPlaceMarker(-1);
		});
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-8">
				<div class="h2">All Places</div>
			</div>
			<div class="col-sm-4 text-right">
				@Html.Partial("Buttons/ResetView")
			</div>
		</div>
		<br />
		<table class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">#</th>
					<th>Type</th>
					<th>Name</th>
					<th>Locality</th>
					<th>Region</th>
					<th>Country</th>
				</tr>
			</thead>
			<tbody>
				@{
					var count = 0;
					foreach (var p in Model.Places)
					{
						<tr class="js-mappable-row">
							<td class="text-center h5">@(++count)</td>
							<td>@SvgHelper.GetPlaceTypeIcon(p.PlaceType) @p.PlaceType</td>
							<td>
								<a class="font-weight-bold" href="@CartoViewModel.GetEditUrl(p.Key)">@IconHelper.PlaceIcon @p.Name</a>
								<span class="font-italic">@p.DisplayAs</span>
							</td>
							<td>@p.Locality</td>
							<td>@(p.Region?.RegionName ?? "")</td>
							<td>@p.Country.Name</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>