@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<div class="h2">Places Report</div>
<table class="table table-striped table-sm">
	<thead class="thead-dark">
		<tr>
			<th class="text-center">#</th>
			<th>Type</th>
			<th>Name</th>
			<th>Display </th>
			<th>Local Name</th>
			<th>Locality</th>
			<th>Region</th>
			<th>Country</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@{
			var count = 0;
			foreach (var p in Model.ReportPlaces)
			{
				<tr data-index="@(count)">
					<td class="text-center">@(++count)</td>
					<td>
						<a href="@CartoViewModel.GetReportUrl(p.PlaceType)">@p.PlaceType</a>
					</td>
					<td class="h5"><a href="@CartoViewModel.GetEditUrl(p.Key)">@p.Name</a></td>
					<td>@p.DisplayAs</td>
					<td class="font-italic">@p.LocalName</td>
					<td>
						@{
							var locality = Model.FindLocalityPlace(p);
							if (locality == null)
							{
								<span>@p.Locality</span>
							}
							else if (locality.Key == p.Key)
							{
								<span class="font-weight-bold">@p.Locality</span>
							}
							else
							{
								<a href="@CartoViewModel.GetEditUrl(locality.Key)">@p.Locality</a>
							}
						}
					</td>
					<td>@(p.Region == null ? "" : p.Region.RegionName)</td>
					<td>
						<a href="@CartoViewModel.GetCountryUrl(p.Country)">@p.Country.Name</a>
					</td>
					<td>
						<a class="btn btn-sm btn-primary" href="@CartoViewModel.GetEditUrl(p.Key)">Manage</a>
						<a class="btn btn-sm btn-outline-danger js-confirm" href="@CartoViewModel.GetDeleteUrl(p.Key)">Delete</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>