@model MetaGraffiti.Web.Admin.Models.GeoViewModel

<table class="table table-striped table-sm">
	<tr>
		<th>Continent</th>
		<th>ID</th>
		<th>Division</th>
		<th>ISO2</th>
		<th>ISO3</th>
		<th>OC</th>
		<th>Name</th>
		<th>Name Long</th>
		<th>Name Local</th>
		<th>Name Local Long</th>
		<th>Abbr 10</th>
		<th>Abbr 15</th>
		<th>Abbr 30</th>
		<th>Center</th>
		<th>North West</th>
		<th>South East</th>
		<th>Regions</th>
	</tr>
	@foreach (var c in Model.Countries.OrderBy(x => x.Continent).ThenBy(x => x.Name))
	{
		<tr>
			<td>@c.Continent</td>
			<td>@c.CountryID</td>
			<td>@c.Division</td>
			<td>@c.ISO2</td>
			<td>@c.ISO3</td>
			<td>@c.OC</td>
			<td class="mark">@c.Name</td>
			<td>@c.NameLong</td>
			<td>@c.NameLocal</td>
			<td>@c.NameLocalLong</td>
			<td>@c.Abbr10</td>
			<td>@c.Abbr15</td>
			<td>@c.Abbr30</td>
			<td class="small">@c.Center.Latitude.ToString("0.000000") x @c.Center.Longitude.ToString("0.000000")</td>
			<td class="small">@c.Bounds.NorthWest.Latitude.ToString("0.000000") x @c.Bounds.NorthWest.Longitude.ToString("0.000000")</td>
			<td class="small">@c.Bounds.SouthEast.Latitude.ToString("0.000000") x @c.Bounds.SouthEast.Longitude.ToString("0.000000")</td>
			<td>
				<a href="/geo/region#@(c.ISO3)">
					@(c.HasRegions ? c.Regions.Count.ToString() : "")
				</a>
			</td>
		</tr>
	}
</table>