@model MetaGraffiti.Web.Admin.Models.GeoViewModel

@Html.Partial("_Nav")
@{
	var c = Model.SelectedCountry;
}

<script src="https://maps.googleapis.com/maps/api/js?key=@(AutoConfig.GoogleMapsApiKey)"></script>
<script src="~/Scripts/_graffiti/googleMaps.js"></script>
<script>
	var _editor = null;
	var _country = {
			north: @c.Bounds.Points[0].Latitude,
			south: @c.Bounds.Points[1].Latitude,
			west: @c.Bounds.Points[0].Longitude,
			east: @c.Bounds.Points[1].Longitude,
	};

	var _regions = [
		@foreach (var r in c.Regions.OrderBy(x => x.RegionName))
		{
			<text>
			{
				region: "@r.RegionName",
				bounds: {
					north: @r.Bounds.Points[0].Latitude,
					south: @r.Bounds.Points[1].Latitude,
					west: @r.Bounds.Points[0].Longitude,
					east: @r.Bounds.Points[1].Longitude,
				},
			},</text>
		}
	]

	$(document).ready(function () {
		initMap();

		for (i = 0; i < _regions.length; i++) {
			var color = _trackColors[i % 10];

			var region = _regions[i];
			region.rectangle = showBounds(region.bounds, color);
			
			$("table > tbody > tr").eq(i).children().eq(0).css('background-color', color);
		}

		showBounds(_country, null, 0);

		$(".js-region-row").click(function () {
			if (_editor) _editor.setMap(null);

			var i = $(this).data("index");
			var region = _regions[i];

			_editor = editBounds(region.bounds);

		});
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<h2><a href="/geo/countries/">Countries</a> \ @c.Name</h2>
		<table class="table table-striped table-sm">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">#</th>
					<th>Abbr</th>
					<th>Region</th>
					<th>Center</th>
					<th>North West</th>
					<th>South East</th>
				</tr>
			</thead>
			<tbody>
				@{
					var count = 0;
					foreach (var r in c.Regions.OrderBy(x => x.RegionName))
					{
						<tr class="js-region-row" data-index="@(count)">
							<td class="text-center">@(++count)</td>
							<td>@r.RegionAbbr</td>
							<td>@r.RegionName</td>
							<td class="small">@r.Center.Latitude.ToString("0.000000") x @r.Center.Longitude.ToString("0.000000")</td>
							<td class="small">@r.Bounds.NorthWest.Latitude.ToString("0.000000") x @r.Bounds.NorthWest.Longitude.ToString("0.000000")</td>
							<td class="small">@r.Bounds.SouthEast.Latitude.ToString("0.000000") x @r.Bounds.SouthEast.Longitude.ToString("0.000000")</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>