@model MetaGraffiti.Web.Admin.Models.GeoViewModel

@Html.Partial("_Nav")
@{
	var c = Model.SelectedCountry;
}

<style>
	#map-container {
		position: fixed;
		top: 0;
		left: 50%;
		right: 100%;
		bottom: 100%;
		height: 100%;
		width: 50%;
	}

	#map {
		width: 100%;
		height: 100%;
	}
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=@(AutoConfig.GoogleMapsApiKey)"></script>
<script src="~/Scripts/_graffiti/googleMaps.js"></script>
<script>
	var _marker = null;
	var _country = [
			{ lat: @c.Bounds.Points[0].Latitude, lng: @c.Bounds.Points[0].Longitude },
			{ lat: @c.Bounds.Points[0].Latitude, lng: @c.Bounds.Points[1].Longitude },
			{ lat: @c.Bounds.Points[1].Latitude, lng: @c.Bounds.Points[1].Longitude },
			{ lat: @c.Bounds.Points[1].Latitude, lng: @c.Bounds.Points[0].Longitude },
			{ lat: @c.Bounds.Points[0].Latitude, lng: @c.Bounds.Points[0].Longitude },
	];

	var _regions = [
		@foreach (var r in c.Regions)
		{
			<text>
			{
				region: "@r.RegionName",
				bounds: [
					{ lat: @r.Bounds.Points[0].Latitude, lng: @r.Bounds.Points[0].Longitude },
					{ lat: @r.Bounds.Points[0].Latitude, lng: @r.Bounds.Points[1].Longitude },
					{ lat: @r.Bounds.Points[1].Latitude, lng: @r.Bounds.Points[1].Longitude },
					{ lat: @r.Bounds.Points[1].Latitude, lng: @r.Bounds.Points[0].Longitude },
					{ lat: @r.Bounds.Points[0].Latitude, lng: @r.Bounds.Points[0].Longitude },
				]
			},</text>
		}
	]

	$(document).ready(function () {
		initMap();

		for (i = 0; i < @c.Regions.Count(); i++) {
			showTrack(_regions[i].bounds);
			markPoint(_regions[i].bounds[0].lat, _regions[i].bounds[0].lng, _regions[i].region);
		} 


		showTrack(_country);
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<h2>@c.Name</h2>
	</div>
</div>