@using MetaGraffiti.Web.Admin.Models;
@model GeoViewModel

@Html.Partial("_Nav")

<script>
	var _countries = @JsonHelper.GetJson(Model.Countries);

	$(document).ready(function () {
		initMap();

		for (i = 0; i < _countries.length; i++) {
			var country = _countries[i].bounds;
			var bounds = drawBounds(country, getMapColor(i));
		}

		showWorld();
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
		<div class="h2"><a href="@GeoViewModel.GetTimezonesUrl()">Timezones</a></div>
		<div class="h2"><a href="@GeoViewModel.GetCountriesUrl()">Countries</a></div>
		<div class="h2"><a href="@GeoViewModel.GetRegionsUrl()">Regions</a></div>
	</div>
	<div class="col-sm-3">
		<div class="h3">Visited Countries</div>
		@foreach (var c in Model.Visited)
		{
			<div class="h4">
				<a href="@GeoViewModel.GetCountryUrl(c)">@c.Name</a>
			</div>
		}
	</div>
</div>
