@model MetaGraffiti.Web.Admin.Models.GeoViewModel

@Html.Partial("_Nav")

@{
	var l = Model.SelectedLocation;
}

<script src="https://maps.googleapis.com/maps/api/js?key=@(AutoConfig.GoogleMapsApiKey)"></script>
<script src="~/Scripts/_graffiti/googleMaps.js"></script>
<script>
	var _bounds = null;

	var _locations = [
		@foreach (var lr in Model.Locations)
		{
			<text>@Model.GetJson(lr),</text>
		}
	]

	$(document).ready(function () {
		initMap();

		for (i = 0; i < _locations.length; i++) {
			var number = i + 1;
			if (number > 10) number = null;

			var location = _locations[i];
			location.marker = markPoint(location.center.lat, location.center.lng, location.name, number);
		}

		if (_locations.length > 0) fitBounds(_locations[0].bounds);


		$(".js-location-row").hover(function () {
			if (_bounds) _bounds.setMap(null);

			var index = $(this).data("index");
			var location = _locations[index];

			_bounds = drawBounds(location.bounds);

			for (i = 0; i < _locations.length; i++) {
				if (i == index) {
					_locations[i].marker.setAnimation(google.maps.Animation.BOUNCE);
				} else {
					_locations[i].marker.setAnimation(null);
				}
			}
		});

		$(".js-location-row").click(function () {
			$(".js-location-row").css("font-weight", "");
			$(this).css("font-weight", "bold");

			var index = $(this).data("index");
			var location = _locations[index];
			location.marker.setAnimation(null);

			fitBounds(location.bounds);
		});
	});
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<h2>Search</h2>
		<div class="row">
			<div class="col">
				<form method="post" action="/geo/search/">
					<div class="form-group">
						<label for="name">Name</label>
						<div class="input-group">
							<input type="text" class="form-control" name="Name" placeholder="Name" value="@Model.Search.Name">
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit">Search</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col">
				<form method="post" action="/geo/search/">
					<div class="form-group">
						<label for="timezone">Position</label>
						<div class="input-group">
							<input type="text" class="form-control" name="Latitude" placeholder="Latitude" value="@Model.Search.Latitude">
							<input type="text" class="form-control" name="Longitude" placeholder="Longitude" value="@Model.Search.Longitude">
							<div class="input-group-append">
								<button class="btn btn-info" type="submit">Geocode</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--
	<div class="row">
		<div class="col">
			<div class="form-group">
				<label for="description">Region</label>
				<input type="text" class="form-control" name="Region" placeholder="Region" value="@Model.Search.Region">
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<label for="description">Country</label>
				<input type="text" class="form-control" name="Country" placeholder="Country" value="@Model.Search.Country">
			</div>
		</div>
	</div>
	-->
		

		<hr />
		<h2>Locations</h2>
		<table class="table table-striped table-sm">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">#</th>
					<th>Name <span class="small font-italic">Display</span></th>
					<th>Type</th>
					<th>Region</th>
					<th>Full Address</th>
				</tr>
			</thead>
			<tbody>
				@{
				var count = 0;
				foreach (var lr in Model.Locations)
				{
					<tr class="js-location-row" data-index="@(count)">
						<td class="text-center">@(++count)</td>
						<td>
							<a href="/geo/location/?key=@(lr.GoogleKey)">@lr.Name</a>
							@if (lr.Name != lr.DisplayAs)
						{
							<div class="small font-italic">@lr.DisplayAs</div>
					}
						</td>
						<td>@lr.PlaceKey</td>
						<td>@(lr.Region == null ? "" : lr.Region.RegionName) @(lr.Country == null ? "" : lr.Country.ISO2)</td>
						<td class="small">@lr.Description</td>
					</tr>
			}
				}
			</tbody>
		</table>
	</div>
</div>