@using MetaGraffiti.Web.Admin.Models;
@model GpxViewModel

<div class="row">
	<div class="col-sm-4">
		<div class="h3">
			@if (Model.SelectedGpx != null)
			{
				<div></div>
				<a href="@GpxViewModel.GetReportUrl(Model.SelectedYear)">@Model.SelectedYear</a>
				<span> \ </span>
				<a href="@GpxViewModel.GetReportUrl(Model.SelectedYear, Model.SelectedMonth)">@Model.GetMonth(Model.SelectedMonth)</a>
				<span> \ @Model.SelectedGpx.File.Name</span>
			}
			else if (Model.SelectedMonth.HasValue)
			{
				<a href="@GpxViewModel.GetReportUrl(Model.SelectedYear)">@Model.SelectedYear</a>
				<span> \ </span>
				@Model.GetMonth(Model.SelectedMonth)
			}
			else
			{
				@Model.SelectedYear
			}
		</div>
	</div>
	@if (Model.SelectedGpx == null)
	{
		<div class="col-sm-8 text-right">
			@if (Model.SelectedMonth.HasValue)
			{
				<div class="h6">
					@for (int month = 1; month <= 12; month++)
					{
						<a class="@(Model.SelectedMonth == month ? "font-italic" : "")" href="@GpxViewModel.GetReportUrl(Model.SelectedYear, month)">@Model.GetMonth(month)</a>
						<span>&nbsp;</span>
					}
				</div>
			}
			else if (Model.SelectedYear.HasValue)
			{
				<div class="h5">
					@foreach (var year in Model.Years)
					{
						<a class="@(Model.SelectedYear == year ? "font-italic" : "")" href="@GpxViewModel.GetReportUrl(year)">@year</a>
						<span>&nbsp;</span>
					}
				</div>
			}
		</div>
	}
</div>
<hr />