@using MetaGraffiti.Web.Admin.Models;
@model GpxViewModel

@Html.Partial("_Nav")

<div class="row">
	<div class="col-md-6">
		@if (Model.Cache.Any(x => x.File == null || !x.File.Valid))
		{
			<div class="alert alert-danger">
				<span class="h4">There are one or more files with errors.</span>
				<a class="btn btn-danger btn-sm float-right" href="/gpx/debug">Debug</a>
			</div>
			<br />
		}
		<h2>Gpx Calendar</h2>
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Year</th>
					@for (var month = 1; month <= 12; month++)
					{
						<th class="text-right">@Model.GetMonth(month, true)</th>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var year in Model.Years)
				{
					<tr>
						<td class="table-secondary">
							<a class="h4" href="@GpxViewModel.GetReportUrl(year)">
								@year
							</a>
						</td>
						@for (var month = 1; month <= 12; month++)
						{
							<td class="text-right">
								<a class="h5" href="@GpxViewModel.GetReportUrl(year, month)">
									@{
										var cal = Model.GetCalendarEntry(year, month);
										if (cal != null)
										{
											<span>@(cal.Files > 0 ? cal.Files.ToString() : "")</span>
										}
									}
								</a>
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		@{
			var count = 0;
		}
		<div class="row">
			<div class="col-sm-8">
				<h2>Extracted Tracks</h2>
			</div>
			<div class="col-sm-4">
				<a href="@GpxViewModel.GetManageUrl()" class="btn btn-primary float-right">Manage</a>
			</div>
		</div>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var track in Model.Tracks)
				{
					<tr>
						<td>@(++count)</td>
						<td>@track.Name</td>
						<td>@track.Description</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
