@using MetaGraffiti.Web.Admin.Models;
@model GpxViewModel

@Html.Partial("_Nav")

@{ 
	var manager = Model.Manager;
}

<script src="https://maps.googleapis.com/maps/api/js?key=@(AutoConfig.GoogleMapsApiKey)"></script>
<script src="~/Scripts/_graffiti/googleMaps.js"></script>
<script>


	var _marker = null;
	var _tracks = [
	@foreach (var t in manager.OrderdTracks)
	{
<text>
		{
			track: '@t.Name',
			points: [
</text>
		foreach (var p in t.Points)
		{
<text>
				{ lat: @p.Latitude, lng: @p.Longitude },
</text>
		}
<text>
			]
		},
</text>
	}
		];

	$(document).ready(function () {
		initMap();
		loadTrack();
	});

	function loadTrack() {
		for (i = 0; i < _tracks.length; i++) {
			var color = _trackColors[i % 10];
			showTrack(_tracks[i].points, color);
			$("table > tbody > tr").eq(i).children().eq(0).css('background-color', color);
		}
	}
</script>

<div id="map-container">
	<div id="map">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<table class="table table-striped table-sm">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">#</th>
					<th>Start</th>
					<th>Finish</th>
					<th>Track Name</th>
					<th>Description</th>
					<th>Source</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@{
					var count = 0;
					foreach (var track in manager.OrderdTracks)
					{
						<tr>
							<td class="text-center">@(++count)</td>
							<td>@manager.AsLocalTime(track.StartTime).ToString("yyyy-MM-dd")<br />@manager.AsLocalTime(track.StartTime).ToString("hh:mm:ss tt")</td>
							<td>@manager.AsLocalTime(track.FinishTime).ToString("yyyy-MM-dd")<br />@manager.AsLocalTime(track.FinishTime).ToString("hh:mm:ss tt")</td>
							<td class="font-weight-bold">@track.Name</td>
							<td class="small">@track.Description</td>
							<td><a href="@GpxViewModel.GetDisplayUrl(track.SourceFile.Uri)">@track.SourceFile.Name</a></td>
							<td><a class="btn btn-sm btn-outline-danger" href="@GpxViewModel.GetRemoveTrackUrl(track.ID)">Remove</a></td>
						</tr>
					}
				}
			</tbody>
		</table>
		<br />
		<hr />
		<form method="post" action="/gpx/manage/">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" name="Name" placeholder="Name" value="@manager.Name">
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" class="form-control" name="Description" placeholder="Description" value="@manager.Description">
			</div>
			<div class="form-group">
				<label for="timezone">Timezone</label>
				<div class="input-group">
					<input type="text" class="form-control" name="Timezone" placeholder="Timezone" value="@manager.Timezone.Name">
					<div class="input-group-append">
						<button name="action" class="btn btn-outline-secondary" value="timezone">Lookup</button>
					</div>
				</div>
			</div>
			<button type="submit" name="action" class="btn btn-success" value="update">Update</button>
			<button name="action" class="btn btn-outline-info" value="gpx">Save as GPX</button>
			<button name="action" class="btn btn-outline-info" value="kml">Save as KML</button>
		</form>
	</div>
</div>