@using MetaGraffiti.Web.Admin.Models;
@model GpxViewModel

@Html.Partial("_Nav")
@Html.Partial("_Gpx")

<table class="table table-striped table-sm">
	@foreach (var cal in Model.ListCalendarEntries(Model.SelectedYear, Model.SelectedMonth))
	{
		var list = Model.ListGpxFiles(cal.Year, cal.Month);
		<tr class="thead-dark align-top">
			<th colspan="10">
				<a class="h4" href="@GpxViewModel.GetReportUrl(Model.SelectedYear, cal.Month)">@Model.GetMonth(cal.Month)</a>
				<span class="badge badge-pill badge-@(list.Count == cal.Files ? "info" : "danger")">@cal.Files</span>
			</th>
		</tr>
		<tr class="table-active">
			<th class="text-center">#</th>
			<td>Name</td>
			<td>Description</td>
			<td>Country</td>
			<td>Location</td>
			<td>Local Time</td>
			<td>Timezone</td>
			<td>UTC Timestamp</td>
		</tr>
		var count = 0;
		foreach (var item in list)
		{
			<tr>
				<td class="text-center @(item.IsDirty ? "table-success" : "")">@(++count)</td>
				<td><a href="@GpxViewModel.GetDisplayUrl(item.MetaData.Uri)">@item.MetaData.Name</a></td>
				<td class="small">@item.MetaData.Description</td>
				<td>@(item.MetaData.Country?.Name ?? "")</td>
				<td>@item.MetaData.LocationName</td>
				<td>@item.MetaData.LocalTime</td>
				<td>@item.MetaData.Timezone.TZID</td>
				<td>@item.MetaData.Timestamp</td>
			</tr>
		}
	}
</table>
