@model MetaGraffiti.Web.Admin.Models.GpxViewModel

@Html.Partial("_Gpx")

<table class="table table-striped table-sm">
	@foreach (var cal in Model.ListCalendarEntries(Model.SelectedYear, Model.SelectedMonth))
	{
		var files = Model.ListGpxFiles(cal.Year, cal.Month);
		<tr class="thead-dark align-top">
			<th colspan="10">
				<a class="h4" href="/gpx/report/?year=@(Model.SelectedYear)&month=@(cal.Month)">@Model.GetMonth(cal.Month)</a>
				<span class="badge badge-pill badge-@(files.Count == cal.Files ? "info" : "danger")">@cal.Files</span>
			</th>
		</tr>
		<tr class="table-active">
			<th>#</th>
			<td>Name</td>
			<td>Description</td>
			<td>Country</td>
			<td>Location</td>
			<td>Local Time</td>
			<td>Timezone</td>
			<td>UTC Timestamp</td>
		</tr>
		var count = 0;
		foreach (var file in files)
		{
		<tr>
			<td>@(++count)</td>
			<td><a href="/gpx/display/?uri=@(file.MetaData.Uri)">@file.MetaData.Name</a></td>
			<td class="small">@file.MetaData.Description</td>
			<td>@(file.MetaData.Country?.Name ?? "")</td>
			<td>@file.MetaData.LocationName</td>
			<td>@file.MetaData.LocalTime</td>
			<td>@file.MetaData.Timezone.TZID</td>
			<td>@file.MetaData.Timestamp</td>
		</tr>
		}
	}
</table>
